body{
  margin: 0;
  color: #798777;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}

h1{
  font-size: 5rem;
  margin: 0 auto 0 auto;
  font-family: 'Dancing Script', cursive;
  color: #064420;
}

h2{
  color: #064420;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #52734D;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0 auto;
  line-height: 0;

}

p{
  line-height: 2;
  padding-bottom: 30px;
}

hr{
  border: dotted #F8EDE3 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}

a{
  color: #798777;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.copy-right{
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-container{
  background-color: #F8EDE3;
  position: relative;
  padding-top: 150px;
}

.middle-container{
  margin: 50px 0;
}

.bottom-container{
  background-color: #064420;
  padding: 40px 0 10px;
}

.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code{
  width: 25%;
  float: left;
  margin: 0 30px 100px auto;
  margin-bottom: 100px;
}

.running{
  width: 25%;
  float:right;
  margin-left: 30px;
}

.profile{
  width: 50%;
  margin: 100px auto;
}

.photo{
  width: 25%;
}

.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom:550px;
}

.mountain{
  width: 36%;
  margin: 40px auto;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top:30px;
}

.btn {
  background: #91C788;
  background-image: -webkit-linear-gradient(top, #91C788, #064420);
  background-image: -moz-linear-gradient(top, #91C788, #064420);
  background-image: -ms-linear-gradient(top, #91C788, #064420);
  background-image: -o-linear-gradient(top, #91C788, #064420);
  background-image: linear-gradient(to bottom, #91C788, #064420);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 40px auto 60px;  
}

.btn:hover {
  background: #DDFFBC;
  background-image: -webkit-linear-gradient(top, #DDFFBC, #91C788);
  background-image: -moz-linear-gradient(top, #DDFFBC, #91C788);
  background-image: -ms-linear-gradient(top, #DDFFBC, #91C788);
  background-image: -o-linear-gradient(top, #DDFFBC, #91C788);
  background-image: linear-gradient(to bottom, #DDFFBC, #91C788);
  text-decoration: none;
}
